.chatListItemContainer:hover {
  box-shadow: rgb(75, 75, 75) 3px 4px;
  cursor: pointer;
  transition: 0.5s;
}

.profileWidth {
  height: 3rem;
  width: 3rem;
}

.contactName {
  margin-left: 1rem;
}
