#homeMainContainer {
  height: 95vh;
}
#homeMainContainer .chatListContainer {
  flex-grow: 1;
  overflow: scroll;
  width: auto;
}
.messageContainer {
  flex-grow: 9;
  overflow: scroll;
  width: auto;
}
