#homeMainContainer {
  height: 80vh;
}
#homeMainContainer .chatListContainer {
  flex-grow: 1;
  overflow-y: auto;
  width: auto;
}
#messageContainer {
  flex-grow: 9;
  overflow: auto;
  width: auto;
}
